extends layout

block content
  div.container
    div.card
      div.info-row.id
        div.name Charmander
        div.right
          div.hp 60HP
          div.type
          img.fire(src='/images/fire-type.png')
      div.pic-head
        div.picture
          img.charmander(src='/images/charmander.png')
      div.move1
        div.energy
          img.fire(src='/images/fire-type.png')
        div.mName Ember
        div.mDam 40
      div.move2
        div.energy2
          img.fire(src='/images/fire-type.png')
        div.mName2 Quick Attack
        div.mDam2 50