extends layout

block content
  div.container
    div.card
      div.info-row.id
        div.name Charmander
        div.right
          div.hp 60HP
          div.type
          img.fire(src='/images/fire-type.png')
      div.picture
        img(src='/images/charmander.png')