body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card{
  height: 383px;
  width: 264px;
  align-items: center;
  border: 8px solid #fffc75;
  border-radius: 8px;
  background: #dc784d;
}

.info-row.id{
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.picture{
  display: flex;
  justify-content: center;
}

.fire {
  height: 20px;
  width: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.cardClassFairy {
background: #cc417e;
}

.hp {
  padding-right: 4px;
}

