body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card{
  max-height: 300px;
  max-width: 250px;
  align-items: center;
}

.info-row.id{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture{
  justify-content: center;
  align-items: center;
}

.cardClassFairy {

}
