body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.h1{
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card{
  height: 400px;
  width: 280px;
  align-items: center;
  border: 8px solid #fffc75;
  border-radius: 8px;
  background: #dc784d;
}

.info-row.id{
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.hp {
  padding-right: 4px;
}

.pic-head{

}

.charmander {
  height: 150%;
  width: 100%;
}

.picture{
  display: flex;
  justify-content: center;
  border: 4px solid #d5d2d2;
  margin: 10px;
}

.entype {
  height: 20px;
  width: 20px;
}

.rentype {
  height: 20px;
  width: 20px;
  align-items: center;
  padding-left: 14px;
  margin-top: 10px;
}

.wentype {
  height: 20px;
  width: 20px;
  align-items: center;
  padding-left: 22px;
  margin-top: 10px;
}

.bentype {
  height: 20px;
  width: 20px;
  align-items: center;
  padding-left: 23px;
  margin-top: 10px;
}

.right {
  display: flex;
  align-items: center;
}

.cardClassFairy {
background: #cc417e;
}

.move1{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}
.move2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cardbN {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 15px;
}

.weakN{
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.resisN {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.retreatN {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cardBottom {
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  margin: 40px 22px ;

}

.retreatN {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

